In [1]:
import pandas as pd
import numpy as np

# test_books = pd.read_csv('local_data/book_test.csv')
# test_mails = pd.read_csv('local_data/mail_test.csv')
test_blogs = pd.read_csv('local_data/blog_test.csv')

In [2]:
test_books

,id,pretokenized_text,decoded_text,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,old_id
0,book_14,"[0, 1187, 41732, 6, 5, 754, 14, 44959, 74, 210...","<s>ndoubtedly, the fact that Socialism would r...",The Soul of Man under Socialism,"Wilde, Oscar",1854.0,1900.0,['en'],396,{'Socialism'},PG1017
1,book_14,"[167, 54, 50118, 10800, 33037, 1070, 24, 6, 98...","those who\ncontemplated it, so, in the presen...",The Soul of Man under Socialism,"Wilde, Oscar",1854.0,1900.0,['en'],396,{'Socialism'},PG1017
2,book_14,"[122, 19, 559, 50118, 11017, 131, 114, 6, 11, ...","now with political\npower; if, in a word, we ...",The Soul of Man under Socialism,"Wilde, Oscar",1854.0,1900.0,['en'],396,{'Socialism'},PG1017
3,book_14,"[34, 5812, 7, 224, 24, 4, 1437, 509, 23154, 24...",has begun to say it. One hears it now from e...,The Soul of Man under Socialism,"Wilde, Oscar",1854.0,1900.0,['en'],396,{'Socialism'},PG1017
4,book_14,"[50118, 241, 11312, 6514, 6, 16, 1153, 10, 588...","\nrebellious, is probably a real personality, ...",The Soul of Man under Socialism,"Wilde, Oscar",1854.0,1900.0,['en'],396,{'Socialism'},PG1017
...,...,...,...,...,...,...,...,...,...,...,...
53560,book_960,"[1195, 14, 578, 3341, 50118, 1437, 1437, 1437,...","rather that—like\n Rome, and Athens, and T...","Crying for the Light; Or, Fifty Years Ago. Vol...","Ritchie, J. Ewing (James Ewing)",1820.0,1898.0,['en'],2,{'England -- Social conditions -- 19th century...,PG36810
53561,book_960,"[19171, 4051, 50118, 1437, 1437, 1437, 1787, 6...","usting coal\n supply, an overwhelming debt,...","Crying for the Light; Or, Fifty Years Ago. Vol...","Ritchie, J. Ewing (James Ewing)",1820.0,1898.0,['en'],2,{'England -- Social conditions -- 19th century...,PG36810
53562,book_960,"[1437, 1437, 1437, 1437, 1437, 1437, 1437, 143...",THE END.\n ...,"Crying for the Light; Or, Fifty Years Ago. Vol...","Ritchie, J. Ewing (James Ewing)",1820.0,1898.0,['en'],2,{'England -- Social conditions -- 19th century...,PG36810
53563,book_960,"[9, 203, 937, 773, 4, 17, 27, 578, 1215, 26339...",of much general interest.’—_Daily Chronicle_....,"Crying for the Light; Or, Fifty Years Ago. Vol...","Ritchie, J. Ewing (James Ewing)",1820.0,1898.0,['en'],2,{'England -- Social conditions -- 19th century...,PG36810
53564,book_960,"[50118, 560, 3794, 4, 1437, 96, 5, 173, 137, 2...","\nto flag. In the work before us, which is no...","Crying for the Light; Or, Fifty Years Ago. Vol...","Ritchie, J. Ewing (James Ewing)",1820.0,1898.0,['en'],2,{'England -- Social conditions -- 19th century...,PG36810

In [3]:
test_mails

,id,pretokenized_text,decoded_text
0,mail_105,"[0, 1620, 47, 32, 2542, 6, 110, 265, 1933, 34,...","<s>As you are aware, your business unit has be..."
1,mail_105,"[16410, 4383, 50118, 28062, 12552, 16, 5, 1850...",Methodology\nAttached is the proposed ERCOT I...
2,mail_105,"[8, 5214, 844, 50118, 627, 595, 183, 1914, 239...",and=20\nthe current day forecast high tempera...
3,mail_105,"[2388, 87, 5, 4971, 6, 172, 5, 230, 3632, 3500...","greater than the limits, then the CSC proble=..."
4,mail_105,"[381, 5199, 3293, 4, 5457, 844, 50118, 14773, ...",ERCOT. =20\nMarket rules dictate that by 0600...
...,...,...,...
123787,mail_56,"[515, 322, 1437, 1437, 3401, 680, 162, 1437, 5...",event). Please include me \nwhen \nyou give...
123788,mail_56,"[16135, 7, 5, 1248, 644, 1105, 6, 3788, 4, 143...","forward to the date January 31, 2000. It is b..."
123789,mail_56,"[1189, 5, 276, 6, 53, 5, 433, 16, 533, 7, 422,...","remains the same, but the media is likely to ..."
123790,mail_56,"[530, 13673, 12859, 7, 10, 2257, 31482, 11, 10...",K bug refers to a software glitch in some olde...
123791,mail_56,"[50118, 133, 15771, 561, 1787, 823, 130, 153, ...",\nThe pipelines together supply nearly three m...

In [2]:
test_blogs

,id,pretokenized_text,decoded_text,age,topic,gender
0,blog_10002,"[0, 250, 14125, 2081, 23, 5, 502, 158, 6, 4482...","<s>A pivotal exchange at the June 10, 2004 pre...",43,indUnk,male
1,blog_10002,"[18984, 396, 878, 9724, 5156, 9, 5, 488, 4, 14...",detainees without running afoul of the law. ...,43,indUnk,male
2,blog_10002,"[86, 4, 5359, 38, 64, 28, 55, 699, 4, 20, 9223...",time. Maybe I can be more clear. The instruct...,43,indUnk,male
3,blog_10002,"[58, 5, 9223, 31, 162, 7, 5, 168, 4, 1437, 407...",were the instructions from me to the governme...,43,indUnk,male
4,blog_10002,"[6, 1256, 203, 20154, 128, 41010, 108, 11, 70,...",", pretty much spells 'YES' in all caps. So wh...",43,indUnk,male
...,...,...,...,...,...,...
281508,blog_9992,"[26, 205, 15687, 4, 178, 54, 40, 1798, 5, 2597...",said good bye. And who will hear the echoes o...,14,indUnk,male
281509,blog_9992,"[8, 4318, 4, 16304, 62, 5, 13171, 9, 20299, 4,...",and mine. Adding up the layers of harmony. An...,14,indUnk,male
281510,blog_9992,"[127, 6180, 8, 7416, 2115, 167, 11954, 4, 1508...",my memories and dreams upon those wings. Leav...,14,indUnk,male
281511,blog_9992,"[24, 1411, 6, 15, 8, 15, 4, 4448, 27799, 9, 30...","it goes, on and on. Melodies of life,To the s...",14,indUnk,male
281512,blog_9992,"[111, 6000, 8, 15, 4, 2]",- forever and on.</s>,14,indUnk,male

In [5]:
# Utilities
from sklearn.metrics import top_k_accuracy_score, accuracy_score
from transformers import AutoTokenizer
import torch
import torch.nn.functional as F
from tqdm.auto import tqdm
from random import shuffle

TOKENIZER = AutoTokenizer.from_pretrained('roberta-large')

def embed(model, texts):
    tokenized_texts = TOKENIZER(texts, return_tensors='pt', padding=True, truncation=True, max_length=512)
    embedding = model(tokenized_texts.input_ids.to(model.device),
                      tokenized_texts.attention_mask.to(model.device),
                      )
    return embedding

def embed_transformer(model, texts):
    tokenized_texts = TOKENIZER(texts, return_tensors='pt', padding=True, truncation=True, max_length=512)
    embedding = model(tokenized_texts.input_ids.to(model.device),
                      attention_mask = tokenized_texts.attention_mask.to(model.device),
                      ).pooler_output
    return embedding

def evaluate(model, data, top_k=5, N=100, repetitions=1, embed_f=embed):
    with torch.no_grad():
        
        accs, topks = [], []
        for _ in tqdm(range(repetitions)):           
            authors = data.id.unique().tolist()
            shuffle(authors)
            random_authors = authors[:N]
            anchors, replicas = [], []
            for author in random_authors:
                anchor, replica = data.loc[author == data.id].decoded_text.sample(2).tolist()
                anchors.append(anchor)
                replicas.append(replica)
            
            embedding_anchors = F.normalize(embed_f(model, anchors))
            embedding_replicas = F.normalize(embed_f(model, replicas))

            preds = embedding_anchors @ embedding_replicas.T
            labels = torch.arange(0, len(preds)).numpy()

            preds_a = F.softmax(preds, dim=-1)
            preds_b = F.softmax(preds.T, dim=-1)

            a_acc = accuracy_score(labels, preds_a.argmax(-1).cpu().numpy())
            b_acc = accuracy_score(labels, preds_b.argmax(-1).cpu().numpy())
            a_topk = top_k_accuracy_score(y_true=labels, y_score=preds_a.cpu().numpy(), k=top_k)
            b_topk = top_k_accuracy_score(y_true=labels, y_score=preds_b.cpu().numpy(), k=top_k)

            accs.append((a_acc+b_acc)/2)
            topks.append((a_topk+b_topk)/2)

            del embedding_anchors
            del embedding_replicas

            torch.cuda.empty_cache()
            
        return np.mean(accs), np.mean(topks), np.std(accs), np.std(topks)

In [6]:
model_zoo = {#'all': 'model/final_2022-06-21_12-22-26_lstm_books+mails+blogs.ckpt',
            # 'books': 'model/final_2022-06-28_07-55-16_lstm_books.ckpt',
            # 'mails': 'model/final_2022-06-27_08-14-08_lstm_mails.ckpt',
            'blogs': 'model/final_2022-06-15_08-10-17_lstm_blogs.ckpt',
            }
data_zoo = {#'all': test_books.append(test_mails).append(test_blogs),
            # 'books': test_books,
            # 'mails': test_mails,
            'blogs': test_blogs,
            }

In [12]:
#from model_experimental import ContrastiveLSTMTransformer
from model import ContrastiveLSTMHead
from random import shuffle

REPEATS = 100
TOP_K = 5
DEVICE = torch.device("mps")

n_list = [10, 20, 50, 100, 250]
#keys = ['all', 'blogs', 'books', 'mails']
keys = ['blogs']

data_dict = {}
# # Pass on trained models
# for k_model in keys:
#     model_ckpt = model_zoo[k_model]
#     model = ContrastiveLSTMHead.load_from_checkpoint(checkpoint_path=model_ckpt).cuda(DEVICE)

#     data_dict[f'Model_{k_model}'] = {}
#     print(f'[log] Evaluating model - {k_model}')

#     for k_data in keys:
#         data = data_zoo[k_data]
        
#         data_dict[f'Model_{k_model}'][f'data_{k_data}'] = {}
#         print(f'[log] Evaluating on data - {k_data}')

#         for n in n_list:
#             print(f'[log] Running {REPEATS} repetitions for N={n}')
#             max_len = len(data.id.unique())
            
#             if n == 'max':
#                 n = max_len

#             if n <= max_len:
#                 acc, topk, acc_sd, topk_sd = evaluate(model, data, top_k=TOP_K, N=n, repetitions=REPEATS)
#                 data_dict[f'Model_{k_model}'][f'data_{k_data}'][f'N={n} Accuracy'] = f'{100*acc:.2f}% ± {100*acc_sd:.2f}'
#                 data_dict[f'Model_{k_model}'][f'data_{k_data}'][f'N={n} Top-5 Accuracy'] = f'{100*topk:.2f}% ± {100*topk_sd:.2f}'

#                 print(f'[log] model:{k_model}_data:{k_data}_n:{n}: {100*acc:.2f}% {100*topk:.2f}%')
    
#     del model
#     torch.cuda.empty_cache()


from transformers import AutoModel

model = AutoModel.from_pretrained('roberta-large').to(DEVICE)

data_dict[f'Model_RoBERTa'] = {}
print(f'[log] Evaluating model - RoBERTa')
#Base transformer
for k_data in keys:
    data = data_zoo[k_data]
        
    #data_dict[f'Model_{k_model}'][f'data_{k_data}'] = {}
    data_dict[f'data_{k_data}'] = {}
    print(f'[log] Evaluating on data - {k_data}')

    for n in n_list:
        print(f'[log] Running {REPEATS} repetitions for N={n}')
        max_len = len(data.id.unique())
        
        if n == 'max':
            n = max_len

        if n <= max_len:
            acc, topk, acc_sd, topk_sd = evaluate(model, data, top_k=TOP_K, N=n, repetitions=REPEATS, embed_f=embed_transformer)
            # data_dict[f'Model_{k_model}'][f'data_{k_data}'][f'N={n} Accuracy'] = f'{100*acc:.2f}% ± {100*acc_sd:.2f}'
            # data_dict[f'Model_{k_model}'][f'data_{k_data}'][f'N={n} Top-5 Accuracy'] = f'{100*topk:.2f}% ± {100*topk_sd:.2f}'

            # print(f'[log] model:{k_model}_data:{k_data}_n:{n}: {100*acc:.2f}% {100*topk:.2f}%')

            data_dict[f'data_{k_data}'][f'N={n} Accuracy'] = f'{100*acc:.2f}% ± {100*acc_sd:.2f}'
            data_dict[f'data_{k_data}'][f'N={n} Top-5 Accuracy'] = f'{100*topk:.2f}% ± {100*topk_sd:.2f}'

            print(f'[log] model_data:{k_data}_n:{n}: {100*acc:.2f}% {100*topk:.2f}%')

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

[log] Evaluating model - RoBERTa
[log] Evaluating on data - blogs
[log] Running 100 repetitions for N=10

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model_data:blogs_n:10: 22.10% 62.90%
[log] Running 100 repetitions for N=20

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model_data:blogs_n:20: 16.75% 40.88%
[log] Running 100 repetitions for N=50

  0%|          | 0/100 [00:00<?, ?it/s]

KeyboardInterrupt:

In [10]:
pd.DataFrame(data_dict)

,Model_all,Model_blogs,Model_books,Model_mails
data_all,"{'N=10 Accuracy': '91.25% ± 7.69', 'N=10 Top-5...","{'N=10 Accuracy': '90.35% ± 8.67', 'N=10 Top-5...","{'N=10 Accuracy': '58.25% ± 13.16', 'N=10 Top-...","{'N=10 Accuracy': '25.40% ± 11.48', 'N=10 Top-..."
data_blogs,"{'N=10 Accuracy': '90.60% ± 8.90', 'N=10 Top-5...","{'N=10 Accuracy': '91.55% ± 8.21', 'N=10 Top-5...","{'N=10 Accuracy': '52.60% ± 13.59', 'N=10 Top-...","{'N=10 Accuracy': '21.30% ± 10.38', 'N=10 Top-..."
data_books,"{'N=10 Accuracy': '87.75% ± 10.08', 'N=10 Top-...","{'N=10 Accuracy': '64.15% ± 12.71', 'N=10 Top-...","{'N=10 Accuracy': '83.50% ± 11.15', 'N=10 Top-...","{'N=10 Accuracy': '26.90% ± 12.22', 'N=10 Top-..."
data_mails,"{'N=10 Accuracy': '28.65% ± 9.79', 'N=10 Top-5...","{'N=10 Accuracy': '26.25% ± 11.76', 'N=10 Top-...","{'N=10 Accuracy': '21.80% ± 10.62', 'N=10 Top-...","{'N=10 Accuracy': '24.90% ± 12.43', 'N=10 Top-..."

In [19]:
import json
with open('results/tests_summary.json', 'w') as f:
    json.dump(data_dict, f)

In [ ]:
import json
with open('results/tests_summary.json', 'r') as f:
    data_dict = json.load(f)

data_dict

In [21]:
import pandas as pd
dataframe = pd.DataFrame()
for model, d in data_dict.items():
    sub_frame = pd.DataFrame(d)
    sub_frame['Model'] = model

    dataframe = pd.concat([dataframe, sub_frame], axis=0)
dataframe

,data_all,data_blogs,data_books,data_mails,Model
N=10 Accuracy,91.25% ± 7.69,90.60% ± 8.90,87.75% ± 10.08,28.65% ± 9.79,Model_all
N=10 Top-5 Accuracy,98.35% ± 3.47,98.25% ± 4.02,98.85% ± 3.31,68.85% ± 10.02,Model_all
N=20 Accuracy,86.60% ± 7.16,88.08% ± 6.68,81.45% ± 7.21,NaN,Model_all
N=20 Top-5 Accuracy,95.40% ± 4.28,96.70% ± 3.59,96.28% ± 3.86,NaN,Model_all
N=50 Accuracy,83.72% ± 4.60,82.51% ± 4.78,72.14% ± 5.34,NaN,Model_all
N=50 Top-5 Accuracy,93.73% ± 3.54,93.13% ± 3.58,91.94% ± 3.26,NaN,Model_all
N=100 Accuracy,78.39% ± 3.99,77.95% ± 3.95,65.07% ± 3.89,NaN,Model_all
N=100 Top-5 Accuracy,90.84% ± 2.55,90.14% ± 2.90,86.49% ± 2.81,NaN,Model_all
N=250 Accuracy,72.39% ± 2.39,71.56% ± 2.45,NaN,NaN,Model_all
N=250 Top-5 Accuracy,86.73% ± 2.07,85.77% ± 1.92,NaN,NaN,Model_all
N=10 Accuracy,90.35% ± 8.67,91.55% ± 8.21,64.15% ± 12.71,26.25% ± 11.76,Model_blogs
N=10 Top-5 Accuracy,97.55% ± 4.50,97.75% ± 4.49,92.75% ± 6.72,67.65% ± 13.52,Model_blogs
N=20 Accuracy,86.67% ± 7.81,87.68% ± 7.95,56.17% ± 9.49,NaN,Model_blogs
N=20 Top-5 Accuracy,96.10% ± 3.99,96.05% ± 3.97,85.32% ± 6.56,NaN,Model_blogs
N=50 Accuracy,82.22% ± 5.16,82.07% ± 4.16,43.74% ± 5.90,NaN,Model_blogs
N=50 Top-5 Accuracy,93.16% ± 3.60,92.99% ± 3.19,70.78% ± 5.69,NaN,Model_blogs
N=100 Accuracy,77.37% ± 3.94,77.73% ± 3.86,35.94% ± 3.69,NaN,Model_blogs
N=100 Top-5 Accuracy,90.39% ± 2.99,90.00% ± 2.89,60.44% ± 4.05,NaN,Model_blogs
N=250 Accuracy,70.51% ± 2.74,71.11% ± 2.78,NaN,NaN,Model_blogs
N=250 Top-5 Accuracy,85.65% ± 2.19,85.50% ± 2.20,NaN,NaN,Model_blogs
N=10 Accuracy,58.25% ± 13.16,52.60% ± 13.59,83.50% ± 11.15,21.80% ± 10.62,Model_books
N=10 Top-5 Accuracy,88.85% ± 9.38,87.35% ± 8.84,96.75% ± 4.82,63.40% ± 11.51,Model_books
N=20 Accuracy,45.98% ± 11.06,41.62% ± 9.77,77.92% ± 8.70,NaN,Model_books
N=20 Top-5 Accuracy,76.40% ± 8.26,73.10% ± 9.04,93.40% ± 4.70,NaN,Model_books
N=50 Accuracy,34.93% ± 6.33,30.62% ± 5.84,70.10% ± 6.62,NaN,Model_books
N=50 Top-5 Accuracy,62.19% ± 5.96,57.20% ± 6.55,89.28% ± 3.78,NaN,Model_books
N=100 Accuracy,28.06% ± 4.26,24.88% ± 3.35,61.38% ± 4.34,NaN,Model_books
N=100 Top-5 Accuracy,50.18% ± 4.94,47.44% ± 4.13,83.51% ± 2.92,NaN,Model_books
N=250 Accuracy,20.90% ± 2.09,17.05% ± 1.96,NaN,NaN,Model_books
N=250 Top-5 Accuracy,38.08% ± 2.73,33.81% ± 2.44,NaN,NaN,Model_books
N=10 Accuracy,25.40% ± 11.48,21.30% ± 10.38,26.90% ± 12.22,24.90% ± 12.43,Model_mails
N=10 Top-5 Accuracy,70.40% ± 14.10,68.10% ± 14.40,70.55% ± 10.84,68.80% ± 12.65,Model_mails
N=20 Accuracy,18.40% ± 8.76,13.77% ± 6.26,16.93% ± 7.38,NaN,Model_mails
N=20 Top-5 Accuracy,47.82% ± 11.84,42.43% ± 9.20,48.10% ± 9.37,NaN,Model_mails
N=50 Accuracy,10.47% ± 4.12,8.56% ± 3.42,8.94% ± 3.49,NaN,Model_mails
N=50 Top-5 Accuracy,28.72% ± 6.13,24.13% ± 5.72,27.94% ± 4.98,NaN,Model_mails
N=100 Accuracy,6.84% ± 1.87,5.47% ± 2.13,6.29% ± 2.05,NaN,Model_mails
N=100 Top-5 Accuracy,19.39% ± 3.83,15.86% ± 3.45,18.55% ± 3.64,NaN,Model_mails
N=250 Accuracy,4.27% ± 1.06,3.05% ± 0.89,NaN,NaN,Model_mails
N=250 Top-5 Accuracy,11.87% ± 1.69,8.95% ± 1.53,NaN,NaN,Model_mails
N=10 Accuracy,44.65% ± 15.02,39.20% ± 13.61,44.05% ± 13.98,23.85% ± 10.46,Model_RoBERTa
N=10 Top-5 Accuracy,76.55% ± 11.24,72.50% ± 9.39,77.90% ± 10.82,63.00% ± 11.45,Model_RoBERTa
N=20 Accuracy,36.95% ± 10.37,34.42% ± 8.93,37.15% ± 9.89,NaN,Model_RoBERTa
N=20 Top-5 Accuracy,61.33% ± 9.41,58.30% ± 8.56,63.62% ± 8.03,NaN,Model_RoBERTa
N=50 Accuracy,27.65% ± 5.61,24.53% ± 4.80,28.91% ± 6.14,NaN,Model_RoBERTa
N=50 Top-5 Accuracy,45.89% ± 6.49,41.34% ± 6.19,50.39% ± 6.47,NaN,Model_RoBERTa
N=100 Accuracy,23.30% ± 4.01,21.30% ± 3.82,24.23% ± 3.31,NaN,Model_RoBERTa
N=100 Top-5 Accuracy,38.09% ± 4.46,34.96% ± 4.17,42.11% ± 3.73,NaN,Model_RoBERTa
N=250 Accuracy,18.77% ± 1.99,16.76% ± 1.86,NaN,NaN,Model_RoBERTa
N=250 Top-5 Accuracy,30.03% ± 2.29,26.94% ± 2.49,NaN,NaN,Model_RoBERTa

In [25]:
print(dataframe.reset_index().set_index(['Model','index']).to_latex())

\begin{tabular}{llllll}
\toprule
              &                      &        data\_all &      data\_blogs &      data\_books &      data\_mails \\
Model & index &                 &                 &                 &                 \\
\midrule
Model\_all & N=10 Accuracy &   91.25\% ± 7.69 &   90.60\% ± 8.90 &  87.75\% ± 10.08 &   28.65\% ± 9.79 \\
              & N=10 Top-5 Accuracy &   98.35\% ± 3.47 &   98.25\% ± 4.02 &   98.85\% ± 3.31 &  68.85\% ± 10.02 \\
              & N=20 Accuracy &   86.60\% ± 7.16 &   88.08\% ± 6.68 &   81.45\% ± 7.21 &             NaN \\
              & N=20 Top-5 Accuracy &   95.40\% ± 4.28 &   96.70\% ± 3.59 &   96.28\% ± 3.86 &             NaN \\
              & N=50 Accuracy &   83.72\% ± 4.60 &   82.51\% ± 4.78 &   72.14\% ± 5.34 &             NaN \\
              & N=50 Top-5 Accuracy &   93.73\% ± 3.54 &   93.13\% ± 3.58 &   91.94\% ± 3.26 &             NaN \\
              & N=100 Accuracy &   78.39\% ± 3.99 &   77.95\% ± 3.95 &   65.07\% ± 3.89 &             NaN \\
              & N=100 Top-5 Accuracy &   90.84\% ± 2.55 &   90.14\% ± 2.90 &   86.49\% ± 2.81 &             NaN \\
              & N=250 Accuracy &   72.39\% ± 2.39 &   71.56\% ± 2.45 &             NaN &             NaN \\
              & N=250 Top-5 Accuracy &   86.73\% ± 2.07 &   85.77\% ± 1.92 &             NaN &             NaN \\
Model\_blogs & N=10 Accuracy &   90.35\% ± 8.67 &   91.55\% ± 8.21 &  64.15\% ± 12.71 &  26.25\% ± 11.76 \\
              & N=10 Top-5 Accuracy &   97.55\% ± 4.50 &   97.75\% ± 4.49 &   92.75\% ± 6.72 &  67.65\% ± 13.52 \\
              & N=20 Accuracy &   86.67\% ± 7.81 &   87.68\% ± 7.95 &   56.17\% ± 9.49 &             NaN \\
              & N=20 Top-5 Accuracy &   96.10\% ± 3.99 &   96.05\% ± 3.97 &   85.32\% ± 6.56 &             NaN \\
              & N=50 Accuracy &   82.22\% ± 5.16 &   82.07\% ± 4.16 &   43.74\% ± 5.90 &             NaN \\
              & N=50 Top-5 Accuracy &   93.16\% ± 3.60 &   92.99\% ± 3.19 &   70.78\% ± 5.69 &             NaN \\
              & N=100 Accuracy &   77.37\% ± 3.94 &   77.73\% ± 3.86 &   35.94\% ± 3.69 &             NaN \\
              & N=100 Top-5 Accuracy &   90.39\% ± 2.99 &   90.00\% ± 2.89 &   60.44\% ± 4.05 &             NaN \\
              & N=250 Accuracy &   70.51\% ± 2.74 &   71.11\% ± 2.78 &             NaN &             NaN \\
              & N=250 Top-5 Accuracy &   85.65\% ± 2.19 &   85.50\% ± 2.20 &             NaN &             NaN \\
Model\_books & N=10 Accuracy &  58.25\% ± 13.16 &  52.60\% ± 13.59 &  83.50\% ± 11.15 &  21.80\% ± 10.62 \\
              & N=10 Top-5 Accuracy &   88.85\% ± 9.38 &   87.35\% ± 8.84 &   96.75\% ± 4.82 &  63.40\% ± 11.51 \\
              & N=20 Accuracy &  45.98\% ± 11.06 &   41.62\% ± 9.77 &   77.92\% ± 8.70 &             NaN \\
              & N=20 Top-5 Accuracy &   76.40\% ± 8.26 &   73.10\% ± 9.04 &   93.40\% ± 4.70 &             NaN \\
              & N=50 Accuracy &   34.93\% ± 6.33 &   30.62\% ± 5.84 &   70.10\% ± 6.62 &             NaN \\
              & N=50 Top-5 Accuracy &   62.19\% ± 5.96 &   57.20\% ± 6.55 &   89.28\% ± 3.78 &             NaN \\
              & N=100 Accuracy &   28.06\% ± 4.26 &   24.88\% ± 3.35 &   61.38\% ± 4.34 &             NaN \\
              & N=100 Top-5 Accuracy &   50.18\% ± 4.94 &   47.44\% ± 4.13 &   83.51\% ± 2.92 &             NaN \\
              & N=250 Accuracy &   20.90\% ± 2.09 &   17.05\% ± 1.96 &             NaN &             NaN \\
              & N=250 Top-5 Accuracy &   38.08\% ± 2.73 &   33.81\% ± 2.44 &             NaN &             NaN \\
Model\_mails & N=10 Accuracy &  25.40\% ± 11.48 &  21.30\% ± 10.38 &  26.90\% ± 12.22 &  24.90\% ± 12.43 \\
              & N=10 Top-5 Accuracy &  70.40\% ± 14.10 &  68.10\% ± 14.40 &  70.55\% ± 10.84 &  68.80\% ± 12.65 \\
              & N=20 Accuracy &   18.40\% ± 8.76 &   13.77\% ± 6.26 &   16.93\% ± 7.38 &             NaN \\
              & N=20 Top-5 Accuracy &  47.82\% ± 11.84 &   42.43\% ± 9.20 &   48.10\% ± 9.37 &             NaN \\
              & N=50 Accuracy &   10.47\% ± 4.12 &    8.56\% ± 3.42 &    8.94\% ± 3.49 &             NaN \\
              & N=50 Top-5 Accuracy &   28.72\% ± 6.13 &   24.13\% ± 5.72 &   27.94\% ± 4.98 &             NaN \\
              & N=100 Accuracy &    6.84\% ± 1.87 &    5.47\% ± 2.13 &    6.29\% ± 2.05 &             NaN \\
              & N=100 Top-5 Accuracy &   19.39\% ± 3.83 &   15.86\% ± 3.45 &   18.55\% ± 3.64 &             NaN \\
              & N=250 Accuracy &    4.27\% ± 1.06 &    3.05\% ± 0.89 &             NaN &             NaN \\
              & N=250 Top-5 Accuracy &   11.87\% ± 1.69 &    8.95\% ± 1.53 &             NaN &             NaN \\
Model\_RoBERTa & N=10 Accuracy &  44.65\% ± 15.02 &  39.20\% ± 13.61 &  44.05\% ± 13.98 &  23.85\% ± 10.46 \\
              & N=10 Top-5 Accuracy &  76.55\% ± 11.24 &   72.50\% ± 9.39 &  77.90\% ± 10.82 &  63.00\% ± 11.45 \\
              & N=20 Accuracy &  36.95\% ± 10.37 &   34.42\% ± 8.93 &   37.15\% ± 9.89 &             NaN \\
              & N=20 Top-5 Accuracy &   61.33\% ± 9.41 &   58.30\% ± 8.56 &   63.62\% ± 8.03 &             NaN \\
              & N=50 Accuracy &   27.65\% ± 5.61 &   24.53\% ± 4.80 &   28.91\% ± 6.14 &             NaN \\
              & N=50 Top-5 Accuracy &   45.89\% ± 6.49 &   41.34\% ± 6.19 &   50.39\% ± 6.47 &             NaN \\
              & N=100 Accuracy &   23.30\% ± 4.01 &   21.30\% ± 3.82 &   24.23\% ± 3.31 &             NaN \\
              & N=100 Top-5 Accuracy &   38.09\% ± 4.46 &   34.96\% ± 4.17 &   42.11\% ± 3.73 &             NaN \\
              & N=250 Accuracy &   18.77\% ± 1.99 &   16.76\% ± 1.86 &             NaN &             NaN \\
              & N=250 Top-5 Accuracy &   30.03\% ± 2.29 &   26.94\% ± 2.49 &             NaN &             NaN \\
\bottomrule
\end{tabular}

/tmp/ipykernel_1586346/2621851513.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(dataframe.reset_index().set_index(['Model','index']).to_latex())

In [18]:
from transformers import AutoModel
DEVICE = 1
REPEATS = 100
TOP_K = 5

n_list = [10, 20, 50, 100, 250]
keys = ['all', 'blogs', 'books', 'mails']

model = AutoModel.from_pretrained('roberta-large').cuda(DEVICE)

data_dict[f'Model_RoBERTa'] = {}
print(f'[log] Evaluating model - RoBERTa')

for k_data in keys:
    data = data_zoo[k_data]
        
    data_dict[f'Model_RoBERTa'][f'data_{k_data}'] = {}
    print(f'[log] Evaluating on data - {k_data}')

    for n in n_list:
        print(f'[log] Running {REPEATS} repetitions for N={n}')
        max_len = len(data.id.unique())
        
        if n == 'max':
            n = max_len

        if n <= max_len:
            acc, topk, acc_sd, topk_sd = evaluate(model, data, top_k=TOP_K, N=n, repetitions=REPEATS, embed_f=embed_transformer)
            data_dict[f'Model_RoBERTa'][f'data_{k_data}'][f'N={n} Accuracy'] = f'{100*acc:.2f}% ± {100*acc_sd:.2f}'
            data_dict[f'Model_RoBERTa'][f'data_{k_data}'][f'N={n} Top-5 Accuracy'] = f'{100*topk:.2f}% ± {100*topk_sd:.2f}'

            print(f'[log] model:RoBERTa_data:{k_data}_n:{n}: {100*acc:.2f}% {100*topk:.2f}%')

Some weights of the model checkpoint at roberta-large were not used when initializing RobertaModel: ['lm_head.dense.weight', 'lm_head.bias', 'lm_head.layer_norm.weight', 'lm_head.layer_norm.bias', 'lm_head.dense.bias', 'lm_head.decoder.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[log] Evaluating model - RoBERTa
[log] Evaluating on data - all
[log] Running 100 repetitions for N=10

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:all_n:10: 44.65% 76.55%
[log] Running 100 repetitions for N=20

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:all_n:20: 36.95% 61.33%
[log] Running 100 repetitions for N=50

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:all_n:50: 27.65% 45.89%
[log] Running 100 repetitions for N=100

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:all_n:100: 23.30% 38.09%
[log] Running 100 repetitions for N=250

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:all_n:250: 18.77% 30.03%
[log] Evaluating on data - blogs
[log] Running 100 repetitions for N=10

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:blogs_n:10: 39.20% 72.50%
[log] Running 100 repetitions for N=20

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:blogs_n:20: 34.42% 58.30%
[log] Running 100 repetitions for N=50

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:blogs_n:50: 24.53% 41.34%
[log] Running 100 repetitions for N=100

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:blogs_n:100: 21.30% 34.96%
[log] Running 100 repetitions for N=250

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:blogs_n:250: 16.76% 26.94%
[log] Evaluating on data - books
[log] Running 100 repetitions for N=10

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:books_n:10: 44.05% 77.90%
[log] Running 100 repetitions for N=20

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:books_n:20: 37.15% 63.62%
[log] Running 100 repetitions for N=50

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:books_n:50: 28.91% 50.39%
[log] Running 100 repetitions for N=100

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:books_n:100: 24.23% 42.11%
[log] Running 100 repetitions for N=250
[log] Evaluating on data - mails
[log] Running 100 repetitions for N=10

  0%|          | 0/100 [00:00<?, ?it/s]

[log] model:RoBERTa_data:mails_n:10: 23.85% 63.00%
[log] Running 100 repetitions for N=20
[log] Running 100 repetitions for N=50
[log] Running 100 repetitions for N=100
[log] Running 100 repetitions for N=250